*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: black;
}

#myname{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}


#myname path:nth-child(2){
    stroke-dasharray: 341px;
    stroke-dashoffset: 341px;
    animation: animate 2s ease forwards;
}
#myname path:nth-child(3){
    stroke-dasharray: 444px;
    stroke-dashoffset: 444px;
    animation: animate 2s ease forwards 0.3s;
}
#myname path:nth-child(4){
    stroke-dasharray: 375.6px;
    stroke-dashoffset: 375.6px;
    animation: animate 2s ease forwards 0.6s;

}
#myname path:nth-child(5){
    stroke-dasharray: 340px;
    stroke-dashoffset: 340px;
    animation: animate 2s ease forwards 0.9s;

}
#myname path:nth-child(6){
    stroke-dasharray: 243px;
    stroke-dashoffset: 243px;
    animation: animate 2s ease forwards 1.2s;

}
#myname path:nth-child(7){
    stroke-dasharray: 224.9px;
    stroke-dashoffset: 224.9px;
    animation: animate 2s ease forwards 1.5s;


}
#myname path:nth-child(8){
    stroke-dasharray: 375px;
    stroke-dashoffset: 375px;
    animation: animate 2s ease forwards 1.8s;


}
#myname path:nth-child(9){
    stroke-dasharray: 240px;
    stroke-dashoffset: 240px;
    animation: animate 2s ease forwards 2.1s;


}
#myname path:nth-child(10){
   stroke-dasharray: 250px;
   stroke-dashoffset: 250px;
   animation: animate 2s ease forwards 2.4s;

}
#myname path:nth-child(11){
    stroke-dasharray: 445px;
    stroke-dashoffset: 445px;
    animation: animate 2s ease forwards 2.7s;

}
#myname path:nth-child(12){
    stroke-dasharray: 444.042px;
    stroke-dashoffset: 444.042px;
    animation: animate 2s ease forwards 3.0s;

}

@keyframes animate {
    to {
        stroke-dashoffset: 0;
    }
}
